body {
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.empezar {
    color: white;
    background-color: #992240;
    border-radius: 45px;
    padding: 10px 20px;
    font-weight: 700;
    border: none;
}

.superior {
    display: flex;
    justify-content: space-around;
}

.mazo {
    display: flex;
}

.casa {
    display: flex;
}

.inferior {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.espacio-carta {
    width: 100px;
    height: 150px;
    border: 2px solid white;
    margin: 10px;
    border-radius: 15px;
    position: relative;
}

.carta {
    position: absolute;
    border: 2px solid white;
    border-radius: 15px;
    height: 150px;
}

.carta-mazo {
    position: relative;
    height: 100px;
    z-index: 1;
}
  
.pila-inicial {
    position: absolute;
}

img {
    width: 100px;
    height: 150px;
}

@media (max-width: 780px) {
    .espacio-carta {
        width: 80px;
        height: 100px;
        margin: 5px;
        border: 1px solid white;
    }
    .carta {
        border: 1px solid white;
        height: 100px;
    }
    img {
        width: 80px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .espacio-carta {
        width: 40px;
        height: 70px;
        margin: 2px;
        border-radius: 5px;
    }
    .carta {
        border-radius: 5px;
        height: 70px;
    }
    img {
        width: 40px;
        height: 70px;
    }
}